[submodule "Test_Docs_1"]
	path = Test_Docs_1
	url = https://github.com/R-ohit-B-isht/Test_Docs_1.git
[submodule "Test_Docs_2"]
	path = Test_Docs_2
	url = https://github.com/R-ohit-B-isht/Test_Docs_2.git
